/******************************全局样式*********************************/

// @font-face {
//     font-family: "雅黑";
//     src: url('../fontFamily/msyh.ttc') format('truetype');
// }

body {
    min-width: 1546px;
    // font-family: "雅黑";
}

.page-content {
    background: #f5f5f5;
    min-height: calc(100vh - 68px);
    padding-top: 10px;
    box-sizing: border-box;
}

.link {
    color: #09958d;
    text-decoration: underline;
    cursor: pointer;
    line-height: 1.4;
}

.custom-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.custom-table td {
    padding: 14px 16px;
    border-left: 1px solid #eee;
}

.custom-table td:last-child {
    border-right: 1px solid #eee;
}

.custom-table tr {
    border-top: 1px solid #eee;
}

.custom-table tr:last-child {
    border-bottom: 1px solid #eee;
}

.custom-table thead td {
    background: #293746;
    color: #fff;
    border-color: #293746;
    border-bottom: none;
}

.custom-table thead tr {
    border-color: #293746;
}

.custom-table td.empty {
    color: #333;
    background: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.custom-table td.custom {
}

.custom-table tr.active {
    border-top: 1px solid #ec9b44;
    border-bottom: 1px solid #ec9b44;
}

.custom-table tr.active td {
    border-top-color: #ec9b44;
    border-bottom-color: #ec9b44;
}

.custom-table tr.active td:first-child {
    border-left-color: #ec9b44;
    color: #ec9b44;
}

.custom-table tr.active td:last-child {
    border-right-color: #ec9b44;
}

/******************************原子类*********************************/
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.fr {
    float: right;
}

/**************************ElementUI 样式修改****************************/
//.el-loading-parent--hidden{overflow: auto!important;}
//.el-popup-parent--hidden{overflow: auto!important;}
.el-dialog {
    border-radius: 10px;
}

.el-tabs__header {
    background: #fff;
    padding: 0 30px;
    margin: 0;
}

.el-tabs__nav-wrap::after {
    height: 1px;
    background: #eee;
}

// .el-table th {
//     background: #C9C9C9
// }

// .el-table thead {
//     color: #333;
//     font-size: 16px;
// }

.el-form-item__content {
    line-height: 36px;
}

.el-form-item__label {
    line-height: 36px;
    height: 36px;
}

.el-input__inner {
    min-width: 210px;
    height: 36px;
    font-size: 12px;
}

.el-date-editor .el-range__icon {
    line-height: 28px;
}

// .el-input__icon {
//     line-height: 28px;
// }

.el-date-editor .el-range-separator {
    line-height: 28px;
    font-size: 12px;
}

.el-pagination__editor.el-input .el-input__inner {
    min-width: unset;
}

.el-pagination .el-select .el-input .el-input__inner {
    min-width: unset;
}

.el-date-editor .el-range-input {
    font-size: 12px;
}

.el-date-editor.el-input__inner {
    width: 210px;
}

.el-button {
    line-height: 1;
    padding: 11px 28px;
    font-size: 12px;
}

.el-button--mini {
    padding: 7px 15px;
    font-size: 12px;
}

.el-table .sort-caret.ascending {
    border-bottom-color: #999;
}

.el-table .sort-caret.descending {
    border-top-color: #999;
}

.el-tag.el-tag--info {
    line-height: 18px;
}

.el-select__tags-text {
    max-width: 94px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
}

.el-pagination.is-background .btn-prev,
.el-pagination.is-background .btn-next {
    padding: unset;
}

.el-pagination.is-background .btn-prev,
.el-pagination.is-background .btn-next,
.el-pagination.is-background .el-pager li {
    background-color: #e2e2e2;
    padding: 0 4px;
}

.ly_dialog {
    .el-dialog__body {
        padding-top: 10px;
        min-height: 450px;
    }
}

a {
    text-decoration: none;
}

.router-link-active {
    text-decoration: none;
}

.circle {
    // width: 4px;
    // height: 4px;
    border-radius: 100%;
    // background-color: #555555;
    margin-right: 8px;
}

.flow {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #fff;
    border: 1px solid #09958d;
    margin-right: 10px;
}

.hasFlow {
    background: #09958d;
}

.header_operation {
    width: 100%;
    display: flex;
    justify-content: center;
}

.el-tooltip__popper {
    max-width: 340px !important;
    padding: 26px;
    background: #fff !important;
    color: #666 !important;
    border: 1px solid #09958d !important;
    font-size: 16px;
    line-height: 2em;
}

.el-tooltip__popper b {
    color: #333;
}

.el-table--striped .el-table__body tr.el-table__row--striped.current-row td,
.el-table__body tr.current-row > td {
    font-weight: bold;
    color: #09958d;
    background-color: rgba(77, 214, 248, 0.063);
}

.el-table {
    tr,
    th,
    td {
        font-size: 12px;
        color: #555;
        font-weight: normal !important;
    }

    tr {
        cursor: pointer;
    }
}

.el-tooltip__popper.is-light {
    font-size: 12px;
    color: #555;
    text-indent: 2em;
}

// excel上传
.importFile {
    width: 100vw;
    height: 100vh;
    position: relative;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 100%;
    opacity: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.3s;

    .box {
        height: 260px;
        width: 380px;
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        background: #fff;
        border-radius: 5px;
        padding: 20px 25px;
        box-sizing: border-box;
        position: relative;
        flex-direction: column;
        font-size: 13px;
        color: #555;

        .Load {
            top: -20px;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(0, 0, 0, 0.3);
            z-index: 1;

            p {
                position: absolute;
                top: 100px;
                color: #fff;
            }

            .item {
                width: 8px;
                height: 0px;
                margin: 0 3px;
                background: #00d3c8;
                border-radius: 2px;
                animation: jump 1s infinite;
            }

            .item:nth-child(8) {
                animation-delay: 0.8s;
            }

            .item:nth-child(1) {
                animation-delay: 0.1s;
            }

            .item:nth-child(2) {
                animation-delay: 0.2s;
            }

            .item:nth-child(3) {
                animation-delay: 0.3s;
            }

            .item:nth-child(4) {
                animation-delay: 0.4s;
            }

            .item:nth-child(5) {
                animation-delay: 0.5s;
            }

            .item:nth-child(6) {
                animation-delay: 0.6s;
            }

            .item:nth-child(7) {
                animation-delay: 0.7s;
            }

            @keyframes jump {
                0% {
                    height: 0px;
                }

                50% {
                    height: 35px;
                }

                100% {
                    height: 0px;
                }
            }
        }

        p {
            position: absolute;
            top: 20px;
        }

        div {
            margin-top: 20px;
            position: relative;

            input[type="file"] {
                outline: none;
                width: 70px;
                z-index: 1;
                position: absolute;
                height: 28px;
                line-height: 28px;
                right: 0;
                opacity: 0;
            }

            input[type="text"] {
                width: 240px;
                padding: 8px 10px;
                height: 32px;
                box-sizing: border-box;
                font-size: 11px;
                outline: none;
                border: 1px solid #aeaeae;
                border-radius: 5px;
                color: #8e8e8e;
            }

            button {
                margin: 0 15px;
                padding: 8px 15px;
                outline: none;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                background: #09958d;
                color: #fff;
            }
        }

        .inputBox {
            margin-bottom: 20px;
            width: 320px;

            button {
                height: 32px;
                box-sizing: border-box;
                font-size: 12px;
                padding: 8px 10px;
                position: absolute;
                right: 0;
                top: 0;
                margin: 0;
                background: rgb(205, 205, 205);
                color: #555;
            }

            p {
                position: static;
                color: #8e8e8e;
                font-size: 12px;
                margin-top: 5px;
            }
        }
    }
}

.importActive {
    top: 0;
    opacity: 1;
}

.el-table th {
    padding: 3px 0;
}

.el-tabs--left .el-tabs__nav-wrap.is-left::after {
    left: 0;
    right: auto;
}

.el-tabs--left .el-tabs__active-bar.is-left {
    left: 0;
    right: auto;
}

.is-checked {
    .el-checkbox__inner {
        width: 17px;
        height: 17px;

        &::after {
            left: 6px;
            top: 2px;
        }
    }
}

.quarter {
    .el-card.is-always-shadow {
        width: 180px !important;

        .el-card__body {
            .el-button {
                float: none !important;
                display: block;
                margin-left: 0 !important;
                padding: 11px 44px;
            }
        }
    }
}

.lay5 {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .btn {
        height: 35px;
        padding: 0 25px;
        color: #fff;
        border: none;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 13px;
        margin: 0 15px;
    }

    .btn:hover {
        filter: brightness(1.1);
    }

    .submit {
        background: #09958d;
    }

    .rest {
        background: #aeaeae;
    }
}

.box_card1 {
    margin-top: 20px;

    button {
        font-size: 13px;
        height: 30px;
        padding: 8px 15px;
        background: #09958d;
        outline: none;
        border: none;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        margin: 15px 10px;
    }

    button:hover {
        background: #0ba59e;
    }

    .delBtn {
        background: rgb(237, 105, 66);
    }

    .delBtn:hover {
        background: rgb(255, 146, 113);
    }
}

.el-tooltip__popper.is-light {
    max-width: 500px !important;
    padding: 4px 12px;
    text-indent: 0;
}

.el-autocomplete-suggestion li:hover {
    color: #09958d;
    background: transparent;
}

.content_item {
    position: relative;
    margin-bottom: 16px;
    background: #fff;
    padding: 30px 70px 30px 0;

    .title {
        margin-left: 58px;
        display: flex;
        align-items: flex-end;
        font-size: 18px;
        color: #333333;
        position: relative;

        .titleCheckbox {
            position: absolute;
            left: -22px;
            top: 2px;
        }

        .regulationsName {
            cursor: pointer;
            font-weight: 700;
        }

        .el-checkbox {
            .el-checkbox__inner {
                width: 17px;
                height: 17px;
            }
        }

        .download {
            margin-left: 10px;
            color: #c4c4c4;
        }

        .download:hover {
            color: #09958d;
        }
    }

    .extra_info {
        font-size: 14px;
        padding: 16px 0 8px 58px;
        margin-bottom: 5px;
        color: #555555;

        .info {
            // padding-right: 4px;
            // border-right: 1px solid #555555;
            // margin-right: 4px;
        }
    }
}

.declaration {
    height: 44px;
    line-height: 44px;
    background: #293746;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.control-btn {
    display: flex;
    justify-content: center;

    .el-button {
        padding: 11px 23px;
        color: #fff;
    }

    .el-button--success {
        background: #09958d;
        border-color: #09958d;
    }

    .el-button--info {
        background: #aeaeae;
        border-color: #aeaeae;
    }

    .el-button--success:hover,
    .el-button--info:hover {
        filter: brightness(1.1);
    }
}

.nodata {
    position: relative;

    .imgUrl {
        width: 300px;
        height: 300px;
        line-height: 20px;
        text-align: center;
        font-size: 14px;
        color: #929aa8;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.paging {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #09958d;

    .labelCount {
        margin: 0 0 2px 30px;
    }
}

.el-input__suffix-inner {
    .el-input__icon {
        line-height: 37px !important;
    }
}
.el-pagination .el-select .el-input .el-input__inner {
    min-width: 108px !important;
}
.el-pagination {
    .el-input--mini .el-input__icon {
        line-height: 28px !important;
    }
}
